<!DOCTYPE html>

<head>
    <title>AutoDescripcion</title>
    
    <script src="../js/procesa_grabacion.js" type="module"></script>
    <script src="../js/procesa_sintesis.js" type="module"></script>
    <script src="../js/gestiona_formulario.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css" />
    <script src="https://cdn.plyr.io/3.7.3/plyr.polyfilled.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/sweetalert2@9.5.3/dist/sweetalert2.min.css">
    <script src="https://unpkg.com/sweetalert2@9.5.3/dist/sweetalert2.all.min.js"></script>
    <!-- <script src="https://code.responsivevoice.org/responsivevoice.js?key=1mys9qG5"></script> -->
</head>

<body>
    <div class="navbar">
        <nav class="nav">
            <button class="nav-button boton" id="btnInicio">
                Inicio
            </button>
            <button class="nav-button boton" id="btnInfo">
                Información
            </button>
        </nav>
    </div>
    <main>
        <div class="bloquePrincipal">
            <div class="reproductor">
                <video controls class="custom-player"></video>
            </div>            
            <div class="form"></div>
        </div>
    </main>
</body>
</html>