<!DOCTYPE html>
<head>
    <title>AutoDescripcion</title>
    <link rel="stylesheet" href="../style.css">
    <script type ="text/script" src="../main.js"></script>
    <script src="../js/renderer.js"></script>
</head>
<body>
    <div class="navbar">
       <nav class="nav">
            <button class="nav-button boton" id="btnInicio">
                Inicio
            </button>
            <button class="nav-button boton" id="btnInfo">
                Información
            </button>
       </nav>
    </div>
    <main>
        <div class="bloquePrincipal">
            <h1>AutoDescripcion</h1>
            <p>
                Se trata de una herramienta que permite a los usuarios crear <span class="resaltado">
                <a href="https://es.wikipedia.org/wiki/Audiodescripci%C3%B3n">audiodescripciones</a></span> de sus propios videos subiendo un archivo de video
                a la plataforma.
            </p>
            <p>
                Las audiodescripciones son una herramienta que permite a las personas con discapacidad visual
                acceder a la información visual de un video, a través de una narración que describe lo que
                ocurre en la pantalla.
            </p>
            <div class="formas">
                <p>
                    La aplicación permite a los usuarios crear audiodescripciones de sus propios videos, de tres formas:
                </p>
                <ol>
                    <li>
                        Que el propio usuario grabe su voz en los instantes donde no haya sonido.
                    </li>
                    <li>
                        Rellenar un formulario con el texto que se quiera utilizar y que un reproductor de audio lo añada al vídeo.
                    </li>
                    <li>
                        Que automáticamente, a partir de un fotograma, se genera la audiodescripción.
                    </li>
                </ol>
            </div>
        </div>
        <div class="contenedorBoton">
            <button class="botonR boton" id="btnDescr">
                Comienza a trabajar!
            </button>
        </div>
        <div class="ayuda"></div>
    </main>
</body>
</html>