<!DOCTYPE html>
<head>
    <title>AutoDescripcion</title>
    <link rel="stylesheet" href="../style.css">
    <script type ="text/script" src="../main.js"></script>
    <script type="text/javascript" src="../js/drag.js"></script>
</head>
<body>
    <div class="navbar">
        <nav class="nav">
            <a href="index.html">
                <button class="nav-button" id="btnInicio">
                    Inicio
                </button>
             <a href="info.html">
                <button class="nav-button" id="btnInfo">
                    Información
                </button>
            </a>
        </nav>
     </div>
     <div class="container">
        <div class="drag_zone" draggable="true">
            <p>Arrastra el archivo aquí</p>
        </div>
        <div class="selecciona">
            <p>O selecciona desde aquí</p>
            <input type="file" name="file" id="file">
            <br>
            <button class="botonR">
                Describe!
            </button>
        </div>
     </div>
</body>
</html>