<!DOCTYPE html>
<head lang="es">
    <title>AutoDescripcion</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../js/renderer.js"></script>
    <script src="../js/ffpmeg.js"></script>
</head>
<body>
    <div class="navbar">
        <nav class="nav">
            <a href="index.html">
                <button class="nav-button" id="btnInicio">
                    Inicio
                </button>
             <a href="info.html">
                <button class="nav-button" id="btnInfo">
                    Información
                </button>
            </a>
        </nav>
     </div>
     <div class="container">
        <div class="drag_zone" draggable="true">
            <p>Arrastra el archivo aquí</p>
        </div>
        <div class="selecciona">
            <p>O selecciona desde aquí</p>
            <button class="botonS">
                Seleccionar
            </button>

            <label id="fileName"></label>
            
            <p>Elige un modo de funcionamiento:</p>
            <div class="opcion">
                <ul>
                    <li>
                        <input type="radio" name="modo" value="1" checked>
                        <label for="modo1">Modo 1: Se generará un formulario para introducir el texto</label>
                    </li>
                    <li>
                        <input type="radio" name="modo" value="2">
                        <label for="modo2">Modo 2: Grabar el contenido</label>
                    </li>
                    <li>
                        <input type="radio" name="modo" value="3">
                        <label for="modo3">Modo 3: Gerenación automática de la descripción</label>
                    </li>
                </ul>
            </div>
            <button class="botonR">
                Describe!
            </button>
        </div>
     </div>
</body>
</html>