<!DOCTYPE html>
<head lang="es">
    <title>AutoDescripcion</title>
    <script src="../js/maneja_subida.js" type="module"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="https://unpkg.com/sweetalert2@9.5.3/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <div class="navbar">
        <nav class="nav">
             <button class="nav-button boton" id="btnInicio">
                 Inicio
             </button>
             <button class="nav-button boton" id="btnInfo">
                 Información
             </button>
        </nav>
     </div>
     <div class="container">
        <div class="drag_zone" draggable="true">
            <p>Arrastra el archivo aquí</p>
        </div>
        <div class="selecciona">
            <p>O selecciona desde aquí</p>
            <button class="botonS">
                Seleccionar
            </button>

            <label id="fileName"></label>
            
            <p>Elige un modo de funcionamiento:</p>
            <div class="opcion">
                <ul>
                    <li>
                        <input type="radio" name="modo" value="1" checked>
                        <label for="modo1">Modo 1: Se generará un formulario para introducir el texto</label>
                    </li>
                    <li>
                        <input type="radio" name="modo" value="2">
                        <label for="modo2">Modo 2: Grabar el contenido</label>
                    </li>
                    <li id="btnConf">
                        Configuración
                    </li>
                </ul>
            </div>
        </div>
     </div>
</body>
</html>