body {
    font-family: Ubuntu;
}

nav {
    background-color: salmon;
    padding: 10px 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    .nav-link {
        margin: 10px 0;
    }
}

.nav-button {
    color: #fff;
    display: inline-block;
    background-color: salmon;
    text-decoration: none;
    border-color: white;
    border-width: 1px;
    font-size: 20px;
    font-family: Ubuntu;
    padding: 10px 30px;
}

.nav-button:hover {
    background-color: #fff;
    color: salmon;
}

.bloquePrincipal {
    margin: 20px 0;
    text-align: center;
}

.formas {
    margin-top: 30px;
    text-align: center;
}

.formas ol {
    margin: 0;
    display: inline-block;
    text-align: left;
}

li {
    margin-top: 5px;
}

a {
    text-decoration: none;
}

.resaltado a{
    font-style: italic;
    color: black;
}

.contenedorBoton {
    margin-top: 60px;
    text-align: center;
}

.botonR {
    color: white;
    background-color: salmon;
    border-style: solid;
    border-color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.botonR a {
    color: white;
}

.botonR:hover {
    background-color: #fff;
    color: salmon;
    border-color: salmon;
}
